.c-image-editor {
  padding: .5rem;
}

.c-image-editor__file {
  font-size: 1.75rem;
  color: #FFFFFF;
}

.c-image-editor__content {
  display: flex;
  margin-top: .5rem;
}

.c-image-editor__controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: .5rem;
}

.c-image-editor__controls .c-button {
  width: 100%;
  margin-bottom: .5rem
}

.c-image-editor__controls-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: .5rem;
}

.c-image-editor__controls-item input {
  margin-bottom: .5rem;
}

.c-image-editor__label {
  font-size: 1.25rem;
  color: #FFFFFF;
  margin-bottom: .5rem;
}